@import url(./style.css);

@media (max-width: 1024px) {

    .menus {
        /* display: none; */
        /* height: 0; */
        transform: translateX(100%);
        transition: .6s;
    }

    .labelBurger {
        margin-left: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 32px;
        height: 24px;
    }

        .labelBurger:active {
            opacity: 40%;
        }

        .labelBurger > .row {
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: #000;
            
            margin-left: auto;
        }

        .row1 {
            transition: .2s ease;
        }

        .row2 {
            transition: .4s ease;
        }

        .row3 {
            transition: .6s ease;
        }

        #Burger:checked ~ .labelBurger > .row1 {
            background-color: red;
        }

        #Burger:checked ~ .labelBurger > .row2 {
            background-color: red;
            width: 75%;
        }

        #Burger:checked ~ .labelBurger > .row3 {
            background-color: red;
            width: 50%;
        }

    /* Ativar */

    #Burger:checked ~ .menus {
        display: flex;
        transform: translateX(0%);
    }

    /*  */

    .menus {
        position: absolute;
        width: 50%;
        right: 0;
        top: var(--alturaHeader);
        flex-direction: column;
        /* background-color: pink; */
        gap: 0;
        background-color: #fff;
    }

    .menus > .menu {
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

        .menu > li {
            width: 100%;
            display: flex;
        }

        .navlink {
            width: 100%;
            /* background-color: yellow; */
            padding: 24px;
            text-align: left;
        }

        .navlink:active , .navlink:hover {
            background-color: #eaeaea;
        }

    .secundary-navigation {
        width: 100%;
    }

    .social-icons {
        background-color: #fff;
        width: 100%;
        padding: 24px;
        /* justify-content: space-evenly; */
        border-top: 1px solid #dadada;
    }

        .social-icons > hr , .cta-header {
            display: none;
        }

        .secundary-navigation > .social-icons > li > a > ion-icon {
            font-size: 24px;
        }

    /* Landing Page */

    .landing > .container > .hero {
        gap: 24px;
    }

    .landing > .container > .hero > h2 {
        font-size: 40px;
    }


}

@media (max-width: 768px) {

    :root {
        --alturaHeader: 80px;
    }

    header {
        padding: 0 32px;
    }

    .landing > .container {
        padding: 0 32px;
        flex-direction: column;
    }

    .landing > .container > .hero {
        width: 100%;
        text-align: center;
        align-items: center;
        gap: 32px;
    }
    .landing > .container > .hero > p {
        width: 80%;
    }

    .landing > .container > .hero > .acts {
        justify-content: center;
    }

    .landing > .container > .ilustrate {
        width: 100%;
    }

    .landing > .container > .ilustrate > img {
        width: 80%;
    }

}

@media (max-width: 425px) {

    header {
        padding: 0 16px;
    }

    .landing > .container {
        padding: 0 16px;
    }

    .landing > .container > .hero  {
        gap: 24px;
        text-align: center;
        padding-top: 32px;
    }

    .landing > .container > .hero > h2 {
        font-size: 32px;
    }

    .landing > .container > .hero > .acts {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .landing > .container > .hero > .acts > a{
        width: 80%;
        text-align: center;
        
    }

    .more {
        padding: 16px 32px;
        border: 1px solid #9a9a9a;
        justify-content: center;
        border-radius: 32px;
    }

    .menus {
        width: 75%;
    }

}

@media (max-width: 375px) {

    .landing > .container > .hero  {
        padding-top: 16px;
    }

}

@media (max-width: 320px) {

    

}