@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
    --fonte1: 'Quicksand', sans-serif;
    --alturaHeader: 104px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: var(--fonte1);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--alturaHeader);
}

body {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    height: var(--alturaHeader);

    /* background-color: green; */
    /* padding: 1%; */

    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #d2d2d2; */
    padding: 0 80px;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #ffff;

}

header > nav {
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    
     /* background-color: palegreen; */
     background-color: #fff;
     
}

.menus {
    display: flex;
    width: auto;
    align-items: center;
    gap: 32px;
    margin-left: auto;
}

.menu {
    list-style: none;
    display: flex;
    /* background-color: red; */
    gap: 48px;
}

    .navlink {
        font-size: 16px;
        color: #000;
        text-decoration: none;
        letter-spacing: 0.05em;
    }

    .selected {
        font-weight: bold;
    }

.secundary-navigation {
    display: flex;
    gap: 32px;

    /* background-color: #d2d2d2; */
    /* margin-left: auto; */

}

.secundary-navigation > .social-icons {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

.social-icons > hr {
    width: 2px;
    height: 80%;
    background-color: #000;
    opacity: 80%;
    border: none;
}

.secundary-navigation > .social-icons > li > a > ion-icon {
    font-size: 18px;
    color: #000;
}

.secundary-navigation > .cta-header {
    background-color: #000;
    color: #fff;
    padding: 8px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 32px;
    font-weight: bolder;
    letter-spacing: 0.05em;
    background-color: #40BCED;

}

.logoHeader {
    width: 64px;
    height: 64px;
}

/* Burger BUTTON */

#Burger, .labelBurger {
    display: none;
}

/* Página */

main {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    margin-top: var(--alturaHeader);
}

section {
    width: 100%;
    height: calc(100vh - var(--alturaHeader));
    /* border: 10px solid green; */
}

#s1 {
    /* background-color: blue; */
}

#s2 {
    /* background-color: red; */
}

/*  */

.landing {
    /* background-color: pink; */
    width: 100%;
    /* border: 1px solid red; */
    border: none;
    height: auto;
}

.landing > .container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
    /* background-color: palegreen; */
    padding: 0 80px;

}

.landing > .container > .hero {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
}

    .landing > .container > .hero > h2 {
        font-size: 56px;
    }

    .landing > .container > .hero > p {
        font-size: 16px;
    }

    .landing > .container > .hero > .acts {
        width: 100%;
        /* background-color: green; */
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .cta-lp {
        background-color: #000;
        color: #fff;
        padding: 16px 40px;
        border-radius: 32px;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.05em;

    }

    .more {
        /* background-color: green; */
        color: #000;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.05em;
    }

    .more > ion-icon {
        font-size: 16px;
        transition: .2s;
    }

    .more:hover > ion-icon {
        transform: translateX(4px);
    }

.landing > .container > .ilustrate {
    width: 50%;
    height: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.landing > .container > .ilustrate > img {
    height: auto;
    width: 100%;
    
}

.separetor {
    width: 100%;
    height: 112px;
    background-color: #40BCED;
}

.cta {
    background-color: #40BCED;
}

.whats-link {
    position: fixed;
    right: 50px;
    top: 630px;
}

.whats-img {
    width: 80px;
    opacity: 0.8;
}